<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <style type="text/css">
        .t_head td {
            font-weight: bold;
        }
    </style>

    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
</head>
<body>

<h2>查看书籍</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 80px">
            <a href="/addbook/" class="btn btn-primary">添加书籍</a>
            <table class="table table-bordered">
                <tr class="t_head">
                    <th>编号</th>
                    <th>书籍名称</th>
                    <th>价格</th>
                    <th>出版日期</th>
                    <th>出版社</th>
                    <th>作者</th>
                    <th>删除操作</th>
                    <th>编辑操作</th>
                </tr>
                {% for obj in book_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.pub_date|date:'Y-m-d' }}</td>
                        <td>{{ obj.publish.name }}</td>
                        <td>
                            {% for author in obj.authors.all %}
                                <span>{{ author.name }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/books/{{ obj.pk }}/delete" class="btn btn-danger">删除</a>
                        </td>
                        <td>
                            <a href="/books/{{ obj.pk }}/change" class="btn btn-info">编辑</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
</body>
</html>